body {
  border: 1px solid;
  padding: 1em;
  width: 300px;
}

img {
  width: 300px;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}

li > span {
  font-weight: bold;
}

.info {
  border: 1px solid;
  padding: .5em;
  margin-top: .5em;
  width: inherit;
}
.interesting-fact {
  font-style: italic;
}
